* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}

:root {
  --afacad-font: "Afacad Flux", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 200px;
  grid-template-areas:
    "s s s s s s s s s s s s"
    "m m m m m m m m m m m m";
  /* grid-template-areas:
    "s s s h h h h h h h h h"
    "s s s m m m m m m m m m"
    "s s s f f f f f f f f f"; */
}

/* sidebar part start  */

.sidebar {
  grid-area: s;
  height: 100%;
  font-family: var(--afacad-font);
}

.sidebar-upper {
  position: relative;
  height: 100%;
  background: url("./assets/images/weather/clouds/clouds-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 3px 3px 2px #565555;
}

.sidebar-upper-overlay {
  background: rgba(22, 22, 22, 0.235);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(8px);
  width: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  border-radius: 20px;
}

.sidebar-upper-top,
.sidebar-upper-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.location {
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
}

.location-icon {
  margin-right: 3px;
}

.date {
  font-size: 0.95rem;
  font-weight: 700;
  color: #ffffff;
}

.humburger-menu i {
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
}

.sidebar-bottom {
  display: none;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-description {
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
}

.temperature-info {
  display: flex;
  justify-content: center;
  align-items: start;
}

.temperature-info p {
  font-size: 1.1rem;
  margin-right: 4px;
  color: #fff;
  font-weight: 600;
}

.temperature {
  font-size: 6rem;
  color: #fff;
}

/* main part start  */
.main {
  grid-area: m;
  height: 100%;
  font-family: var(--afacad-font);
  padding-top: 20px;
}

.main-title {
  min-height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-title .line {
  width: 8vw;
  height: 3px;
  margin: 0 auto;
  background-color: #098589;
}

.main-title .title {
  text-align: center;
  padding-top: 5px;
  font-size: 1.4rem;
  font-weight: 800;
}

.weather-data-container {
  min-height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  text-align: center;
}

.weather-data-container > div {
  width: 22vw;
  height: 22svw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.weather-data-container > div .weather-icon {
  width: 10vw;
}

.weather-data-container > div .weather-icon img {
  width: 100%;
  height: 100%;
}

.weather-data-title {
  font-weight: 700;
  color: #464545;
}

.sunrise-info,
.sunset-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.sunrise-info img,
.sunset-info img {
  width: 4vw;
}

/* header part start  */
.header {
  grid-area: h;
  background-color: red;
  display: none;
}

/* footer part start  */
.footer {
  grid-area: f;
  background-color: cadetblue;
  display: none;
}

/* menu bar  */
.menu-bar-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #353333a7;
  /* display: none; */
}

.menu-bar-items {
  background-color: #90c0f0;
  width: 80%;
  height: 100%;
  margin-left: auto;
  padding: 15px;
  position: relative;
  /* transform: translateX(100%); */
  transition: transform 3s;
}

.close-menubar {
  text-align: end;
}

.close-menubar:hover i {
  transition: all 1s;
  transform: rotate(360deg);
}

.close-menubar i {
  font-size: 1.6rem;
  color: #2f3640;
}

.menu-bar-items .menu-bar-main-items {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.menu-bar-items .logo-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.logo-title .website-name {
  font-family: var(--afacad-font);
  font-size: 1.8rem;
  font-weight: 800;
  color: #2d3436;
}

.logo-title img {
  width: 25vw;
}

#menu-form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: var(--afacad-font);
}

form label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.2rem;
  font-weight: 600;
}

form input:not(input[type="submit"]) {
  height: 35px;
  border-radius: 8px;
  border: 1px solid #000;
  outline: none;
  padding: 5px 8px;
  font-weight: bold;
}

form input::placeholder {
  font-family: var(--afacad-font);
  font-weight: 500;
}

form input:not(input[type="submit"]):focus {
  border: 1px solid rgb(99, 239, 227);
}

form input[type="submit"] {
  padding: 10px 25px;
  background-color: #2f3640;
  color: #fff;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 2px #101010;
  transition: all 1s;
}

form input[type="submit"]:hover {
  box-shadow: none;
}

form input[type="submit"]:disabled {
  background-color: #d3cece;
  color: gray;
  cursor: not-allowed;
}

.country-name-input {
  position: relative;
}

.country-name-input .country-flag {
  width: 8vw;
  position: absolute;
  top: 50%;
  right: -8.5svw;
  transform: translateY(-50%);
  object-fit: contain;
}

.country-name-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 120px;
  border-radius: 5px;
  box-shadow: 0 5px 5px #353434;
  overflow: auto;
  transition: all 1s;
}

.country-name-options > div {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  padding: 5px;
  border-bottom: 1px solid #d6d4d4;
  cursor: pointer;
}

.country-name-options > div > img {
  width: 8vw;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #999a9b;
}

@media (min-width: 480px) {
}
