/* mobile first design approach followed */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f3efef;
}

:root {
  --afacad-font: "Afacad Flux", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 190px;
  grid-template-areas:
    "s s s s s s s s s s s s"
    "m m m m m m m m m m m m";
}

/* sidebar part start  */
.sidebar {
  grid-area: s;
  height: 100%;
  font-family: var(--afacad-font);
}

.sidebar-upper {
  position: relative;
  height: 100%;
  background-image: url("./assets/images/weather/clouds/2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sidebar-upper-top-lg-screen-search {
  display: none;
}

.sidebar-upper-overlay {
  width: 90%;
  position: absolute;
  top: 5%;
  left: 5%;
  border-radius: 20px;
  background: rgba(22, 22, 22, 0.235);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(8px);
}

.sidebar-upper-top,
.sidebar-upper-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.location {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 4px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.location-icon {
  font-size: 0.85rem;
  margin-right: 3px;
}

.location-name {
  font-weight: 800;
}

.date {
  font-size: 0.9rem;
  font-weight: 700;
  color: #ffffff;
}

.location-flag {
  width: 8vw;
  margin-left: 5px;
}

.humburger-menu i {
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

.sidebar-bottom {
  display: none;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-type-icon {
  width: 25vw;
}

.weather-type {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
}

.cloud-percentage {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.temperature-info {
  display: flex;
  justify-content: center;
  align-items: start;
}

.temperature-info p {
  font-size: 0.8rem;
  margin-right: 4px;
  margin-top: 20px;
  color: #fff;
  font-weight: 600;
}

.temperature {
  font-size: 4rem;
  color: #fff;
}

/* main part start  */
.main {
  position: relative;
  grid-area: m;
  height: 100%;
  font-family: var(--afacad-font);
  padding-top: 20px;
}

.mobile-device-main-part-absolute-section {
  position: absolute;
  left: 0;
  bottom: 95%;
  width: 100%;
  height: 30px;
  background-color: #fff;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 33.75%,
    1.43% 34.49%,
    2.86% 35.33%,
    4.29% 36.25%,
    5.71% 37.24%,
    7.14% 38.27%,
    8.57% 39.33%,
    10% 40.39%,
    11.43% 41.42%,
    12.86% 42.42%,
    14.29% 43.36%,
    15.71% 44.21%,
    17.14% 44.96%,
    18.57% 45.6%,
    20% 46.12%,
    21.43% 46.49%,
    22.86% 46.72%,
    24.29% 46.8%,
    25.71% 46.72%,
    27.14% 46.5%,
    28.57% 46.13%,
    30% 45.62%,
    31.43% 44.98%,
    32.86% 44.23%,
    34.29% 43.38%,
    35.71% 42.45%,
    37.14% 41.45%,
    38.57% 40.42%,
    40% 39.36%,
    41.43% 38.3%,
    42.86% 37.27%,
    44.29% 36.28%,
    45.71% 35.35%,
    47.14% 34.51%,
    48.57% 33.77%,
    50% 33.14%,
    51.43% 32.65%,
    52.86% 32.29%,
    54.29% 32.08%,
    55.71% 32.02%,
    57.14% 32.11%,
    58.57% 32.36%,
    60% 32.75%,
    61.43% 33.27%,
    62.86% 33.92%,
    64.29% 34.69%,
    65.71% 35.55%,
    67.14% 36.49%,
    68.57% 37.49%,
    70% 38.53%,
    71.43% 39.59%,
    72.86% 40.65%,
    74.29% 41.68%,
    75.71% 42.66%,
    77.14% 43.58%,
    78.57% 44.41%,
    80% 45.14%,
    81.43% 45.74%,
    82.86% 46.22%,
    84.29% 46.56%,
    85.71% 46.75%,
    87.14% 46.79%,
    88.57% 46.68%,
    90% 46.42%,
    91.43% 46.01%,
    92.86% 45.47%,
    94.29% 44.81%,
    95.71% 44.03%,
    97.14% 43.15%,
    98.57% 42.2%,
    100% 41.2%
  );
}

.main-title {
  min-height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.main-title .line {
  width: 8vw;
  height: 3px;
  margin: 0 auto;
  background-color: #098589;
}

.main-title .title {
  text-align: center;
  padding-top: 5px;
  font-size: 1.3rem;
  font-weight: 800;
}

.update-time {
  display: none;
}

.weather-data-container {
  min-height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5px;
  text-align: center;
}

.weather-data-container > div {
  width: 22vw;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.weather-data-container > div .weather-icon {
  width: 10vw;
}

.weather-data-container > div .weather-icon img {
  width: 100%;
  height: auto;
}

.weather-data-title {
  position: relative;
  font-weight: 700;
  color: #464545;
}

.wind-info .weather-data-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.unit-tooltip {
  width: 80px;
  height: auto;
  padding: 2px;
  background-color: #40407a;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 125%;
  font-family: var(--afacad-font);
  font-size: 0.9rem;
  visibility: hidden;
  scale: 0;
  opacity: 0;
  border-radius: 20px;
  transition: all 1s;
  z-index: 100;
}

.unit-tooltip::after {
  content: "";
  position: absolute;
  right: 10%;
  top: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: #40407a transparent transparent transparent;
}

.unit-info-icon {
  color: #0ec5f8;
  margin-left: 2px;
  font-size: 0.9rem;
  cursor: pointer;
}

.unit-info-icon:hover + .unit-tooltip {
  visibility: visible;
  scale: 1;
  opacity: 1;
}

.sunrise-sunset-container .weather-data-title {
  display: none;
}

.sunrise-info,
.sunset-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.sunrise-info img,
.sunset-info img {
  width: 4vw;
}

.weather-data-container > div.pressure-container,
.weather-data-container > div.temperature-container {
  display: none;
}

/* header part start  */
.header {
  grid-area: h;
  display: none;
}

/* menu bar  */
.menu-bar-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #353333a7;
  display: none;
}

.menu-bar-items {
  background-color: #90c0f0;
  width: 80%;
  height: 100%;
  margin-left: auto;
  padding: 15px;
  position: relative;
}

@keyframes translateCameAnimation {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes translateGoAnimation {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

.close-menubar {
  text-align: end;
}

.close-menubar:hover i {
  transition: all 1s;
  transform: rotate(360deg);
}

.close-menubar i {
  font-size: 1.3rem;
  color: #2f3640;
}

.menu-bar-items .menu-bar-main-items {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.menu-bar-items .logo-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.logo-title .website-name {
  font-family: var(--afacad-font);
  font-size: 1.5rem;
  font-weight: 800;
  color: #2d3436;
}

.logo-title img {
  width: 20vw;
}

#menu-form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-family: var(--afacad-font);
}

form label {
  display: block;
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: 600;
}

form input:not(input[type="submit"]) {
  height: 35px;
  border-radius: 8px;
  border: 1px solid #000;
  outline: none;
  padding: 5px 8px;
  font-weight: bold;
}

form input::placeholder {
  font-family: var(--afacad-font);
  font-weight: 500;
}

form input:not(input[type="submit"]):focus {
  border: 1px solid rgb(99, 239, 227);
}

form input[type="submit"] {
  padding: 8px 18px;
  background-color: #2f3640;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 2px #101010;
  transition: all 1s;
}

form input[type="submit"]:hover {
  box-shadow: none;
}

form input[type="submit"]:disabled {
  background-color: #d3cece;
  color: gray;
  cursor: not-allowed;
}

.country-name-input {
  position: relative;
}

.country-name-input .country-flag {
  width: 8vw;
  object-fit: contain;
  position: absolute;
  top: 50%;
  right: -8.5svw;
  transform: translateY(-50%);
}

.country-name-options {
  position: absolute;
  top: 100%;
  left: 0;
}

.country-name-options,
.city-name-options {
  width: 100%;
  max-height: 120px;
  border-radius: 5px;
  box-shadow: 0 5px 5px #353434;
  overflow: auto;
  transition: all 1s;
  z-index: 100;
}

.country-name-options > div {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  padding: 5px;
  border-bottom: 1px solid #d6d4d4;
  cursor: pointer;
}

.country-name-options > div > img {
  width: 8vw;
}

.name-input-err-msg,
.city-input-err-msg {
  margin-top: 2px;
  font-weight: 500;
  color: #353b48;
  opacity: 0;
  scale: 0;
  visibility: hidden;
}

.country-city-input {
  position: relative;
}

.city-name-options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
}

.city-name-options > p {
  padding: 5px;
  border-bottom: 1px solid #d6d4d4;
  cursor: pointer;
}

/* toast message style  */
.toast-message-container {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: green;
  color: #fff;
  font-weight: 600;
  width: 70%;
  padding: 8px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 1s;
  box-shadow: 0 3px 3px #000;
  opacity: 0;
  scale: 0;
  visibility: hidden;
  z-index: 1000;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #999a9b;
}

/* modal  */
.modal-overlay {
  display: none;
}

@keyframes showAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes vanish {
  from {
    opacity: 1;
    display: flex;
  }

  to {
    opacity: 0;
    display: none;
  }
}

/* loader  */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: var(--afacad-font);
  font-weight: 600;
}

.loading-container img {
  width: 2vw;
  animation: loaderImgAnim 1.5s infinite;
}

@keyframes loaderImgAnim {
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.loading-container .loading-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container .loading-dots {
  display: block;
  width: 0;
  text-wrap: nowrap;
  overflow: hidden;
  animation: visibleLoadingDots 3s infinite;
}

@keyframes visibleLoadingDots {
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
}

@media (min-width: 360px) {
  .location-flag {
    width: 5vw;
  }
  .humburger-menu i {
    font-size: 1.6rem;
  }

  .weather-type-icon {
    width: 15vw;
  }

  .temperature {
    font-size: 6rem;
  }

  .temperature-info p {
    font-size: 1.1rem;
  }

  .main-title .title {
    font-size: 1.4rem;
  }

  .logo-title img {
    width: 25vw;
  }

  .logo-title .website-name {
    font-size: 1.8rem;
  }

  .close-menubar i {
    font-size: 1.6rem;
  }

  form label {
    font-size: 1.1rem;
  }

  form input[type="submit"] {
    font-size: 0.85rem;
    padding: 10px 25px;
  }
}

@media (min-width: 767px) {
  .container {
    grid-template-rows: 1fr 400px;
  }

  .sidebar-upper-overlay {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }

  .location {
    font-size: 1.25rem;
  }
  .location-icon {
    font-size: 1.2rem;
  }
  .location-flag {
    width: 4vw;
  }
  .date {
    font-size: 1rem;
  }

  .humburger-menu i {
    font-size: 1.8rem;
  }

  .weather-type-icon {
    width: 10vw;
  }

  .weather-type {
    font-size: 1.4rem;
  }

  .temperature {
    font-size: 7.5rem;
  }

  .main-title .title {
    font-size: 2rem;
  }

  .weather-data-title {
    font-size: 1.5rem;
  }

  .unit-tooltip {
    width: 120px;
    right: -15%;
    font-size: 1.2rem;
  }

  .unit-tooltip::after {
    border-width: 8px;
  }

  .sunrise-sunset-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .weather-data-title + p,
  .sunrise-value,
  .sunset-value {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-rows: 80px 1fr 100px;
    grid-template-areas:
      "s s s h h h h h h h h h"
      "s s s m m m m m m m m m"
      "s s s m m m m m m m m m";
  }

  .sidebar-upper-top-lg-screen-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 15px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    height: 35px;
    background-color: #f7f1e3;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
  }

  .sidebar-upper-top-lg-screen-search i {
    font-size: 1rem;
  }

  .sidebar-upper-top-lg-screen-search p {
    font-size: 1rem;
  }

  .sidebar-upper-overlay {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .sidebar-upper-top {
    display: none;
  }

  .sidebar-upper-bottom {
    flex-direction: column;
  }

  .weather-type-icon {
    width: 5vw;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    background: linear-gradient(to right, #82ccdd, #fad390);
    box-shadow: 0 5px 5px #c5c1c1;
  }

  .logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .logo-title img {
    width: 4vw;
  }

  .location-date {
    color: #000;
    font-family: var(--afacad-font);
  }

  .location {
    color: #000;
  }
  .location-flag {
    width: 3vw;
  }

  .date {
    color: #000;
    text-align: end;
  }

  .transform-unit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .transform-unit-celcius,
  .transform-unit-farenhite {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .celcius,
  .farenhite {
    cursor: pointer;
  }

  .transform-unit-celcius {
    background-color: #000;
    color: #fff;
  }

  .transform-unit-farenhite {
    background-color: #fff;
    color: #000;
  }

  .mobile-device-main-part-absolute-section {
    display: none;
  }

  .main {
    padding-top: 0;
  }

  .main-title .line {
    display: none;
  }

  .main-title {
    min-height: 20%;
  }

  .update-time {
    display: block;
    text-align: center;
    font-family: var(--afacad-font);
    font-weight: 500;
    font-size: 0.9rem;
  }

  .weather-data-container {
    max-height: 0;
    flex-wrap: wrap;
  }

  .weather-data-container > div {
    flex-basis: 25%;
    height: 180px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 6px;
    border-radius: 20px;
    border: 1px solid rgb(199, 196, 196);
    box-shadow: 2px 2px 2px #bebcbc;
    cursor: pointer;
    background: linear-gradient(to right, #feffff, #f6f1ea);
    transition: all 1s;
  }
  .weather-data-container > div:hover {
    box-shadow: 5px 5px 5px #e9e4e4;
  }

  .weather-data-container > div .weather-icon {
    width: 5vw;
  }

  .weather-data-container > div.pressure-container,
  .weather-data-container > div.temperature-container {
    display: flex;
  }

  .weather-data-title {
    font-size: 1.3rem;
  }

  .unit-tooltip {
    right: -10%;
    width: 80px;
    font-size: 0.9rem;
  }

  .unit-tooltip::after {
    border-width: 5px;
  }

  .max-min-temperature-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .max-temp-info,
  .min-temp-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .max-min-temperature-info img {
    width: 2vw;
    height: auto;
  }

  .sunrise-sunset-container .weather-data-title {
    display: block;
  }

  .sunrise-sunset-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .sunrise-sunset-info img {
    width: 2vw;
  }

  /* modal  */
  .modal-overlay {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(41, 39, 39, 0.607);
    z-index: 1000;
  }

  .search-container {
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 55px;
    background-color: #7ed6df;
    border-radius: 20px;
    box-shadow: 3px 3px 3px #070707;
  }

  .close-modal {
    position: absolute;
    right: 3%;
    top: 3%;
    font-size: 1.4rem;
    color: #4e0909;
    cursor: pointer;
  }

  .search-container .logo-title {
    display: flex;
    flex-direction: column;
  }
  .search-container .logo-title img {
    width: 6vw;
  }

  form label {
    font-family: var(--afacad-font);
  }

  #modal-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  #modal-form input[type="submit"] {
    margin: 10px auto;
    font-size: 0.8rem;
    padding: 10px 15px;
    cursor: pointer;
  }

  .country-name-input .country-flag {
    width: 3vw;
    right: -3.5vw;
  }

  #modal-form .country-name-options img {
    width: 2vw;
  }

  .toast-message-container {
    width: 30%;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
    margin: 0 auto;
  }

  .sidebar-upper-top-lg-screen-search {
    width: 65%;
  }
}

@media (min-width: 1024px) and (min-height: 950px) {
  .container {
    height: 800px;
  }

  .weather-data-container > div {
    height: auto;
  }
  .weather-data-container > div .weather-icon {
    width: 40%;
    height: auto;
  }

  .max-min-temperature-info img,
  .sunrise-info img,
  .sunset-info img {
    width: 30%;
  }

  .sunrise-info,
  .sunset-info {
    justify-content: center;
  }
}
